$font-stack: Helvetica, sans-serif;
$primary-color: #404041;
$primary-color-active: #555557;
$secondary-color: #209db9;
$secondary-color-active: #157d94;

$primary-background-color: #FFFFFF;
$secondary-background-color: rgba(43, 171, 200, 0.05);
$secondary-background-color-50: rgba(43, 171, 200, 0.5)

